# Root directory
**.git
**.devspace
**.vscode
**.turbo
**docker
**node_modules
**.dockerignore
**.env*
**.env
**devspace.yaml
**docker-compose.yml
**README.md

# Sub directories
**dist
**Dockerfile
**.next

