@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'monobit';
    src: url('./fonts/monobit.ttf');
}
@font-face {
    font-family: 'Future Z';
    src: url('./fonts/future_z.ttf');
}