@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ethnocentric';
    src:
      url('../src/assets/fonts/ethnocentric_rg.otf') format('opentype'),
      url('../src/assets/fonts/EnthocentricRg-Regular.woff2') format('woff2'),
      url('../src/assets/fonts/EnthocentricRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'monobit';
    src:
      url('../src/assets/fonts/monobit.ttf') format('truetype'),
      url('../src/assets/fonts/monobit.woff2') format('woff2'),
      url('../src/assets/fonts/monobit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  html {
    font-family: 'monobit', system-ui, sans-serif;
    font-size: 16px;
  }
  body {
    font-size: 1.75rem;
    letter-spacing: 0;
  }
}
